.data h4{
    font-weight: 400;
}

.info {
    display: flex;
    gap: 2.4rem;
}

.btn{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0.4rem;
    top: 0.8rem
}