.list {
  display: grid;
  list-style: none;
  position: relative;
}

.list img {
  width: 100%;
  border-radius: 5px;
}

.search {
  grid-template-columns: 6rem auto;
  font-size: 1.3rem;
  padding: 1.4rem 1rem;
  gap: 1rem;
  border-bottom: 1px solid #525252;
  cursor: pointer;
}

.search:hover {
  background-color: var(--color-primary);
}

.rate {
  grid-template-columns: 3rem auto;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.6rem;
  gap: 1.4rem;
  border-bottom: 1px solid #525252;
}

@media only screen and (max-width: 1024px) {
  .search {
    font-size: 1rem;
    padding: 1rem 0.4rem;
    gap: 0.4rem;
    font-weight: 300;
    grid-template-columns: 5rem auto;
  }
}
.rate {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.4rem;
  gap: 1rem;
}

@media only screen and (max-width: 682px) {
  .search {
    font-size: 0.8rem;
    padding: 0.4rem 0.2rem;
    gap: 0.4rem;
    grid-template-columns: 4rem auto;
  }
}