.nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--color-primary);
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 5px;
}